<a href="https://colab.research.google.com/github/priyanshd2510/ds_pr2/blob/main/18IT031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing

#### Dataset: https://www.kaggle.com/jessemostipak/hotel-booking-demand

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("hotel_bookings.csv")

In [ ]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [ ]:
data['hotel'].value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

### LABEL ENCODER

In [ ]:
le = LabelEncoder()
data['hotel'] = le.fit_transform(data['hotel'])

In [ ]:
data['hotel'].value_counts()

0    79330
1    40060
Name: hotel, dtype: int64

In [ ]:
le.classes_

array(['City Hotel', 'Resort Hotel'], dtype=object)

### ONE HOT ENCODER

In [ ]:
data['customer_type'].value_counts()

Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64

In [ ]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['customer_type'].values.reshape(-1,1)).toarray()

In [ ]:
one_hot.categories_

[array(['Contract', 'Group', 'Transient', 'Transient-Party'], dtype=object)]

In [ ]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['Contract', 'Group', 'Transient', 'Transient-Party'])

In [ ]:
transformed_data.head()

   Contract  Group  Transient  Transient-Party
0       0.0    0.0        1.0              0.0
1       0.0    0.0        1.0              0.0
2       0.0    0.0        1.0              0.0
3       0.0    0.0        1.0              0.0
4       0.0    0.0        1.0              0.0

In [ ]:
transformed_data.iloc[90 , ]

Contract           0.0
Group              0.0
Transient          1.0
Transient-Party    0.0
Name: 90, dtype: float64

In [ ]:
data['customer_type'][90]

'Transient'

### Normalization & Standardization

In [ ]:
# consider only numerical columns

numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]

In [ ]:
len(numeric_columns) , len(data.columns)

(21, 32)

In [ ]:
numeric_columns.remove('company')
numeric_columns.remove('agent')

In [ ]:
temp_data = data[numeric_columns]

In [ ]:
temp_data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,1,0,342,2015,27,1,0,0,2,0.0,0,0,0,0,3,0,0.00,0,0
1,1,0,737,2015,27,1,0,0,2,0.0,0,0,0,0,4,0,0.00,0,0
2,1,0,7,2015,27,1,0,1,1,0.0,0,0,0,0,0,0,75.00,0,0
3,1,0,13,2015,27,1,0,1,1,0.0,0,0,0,0,0,0,75.00,0,0
4,1,0,14,2015,27,1,0,2,2,0.0,0,0,0,0,0,0,98.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0,0,23,2017,35,30,2,5,2,0.0,0,0,0,0,0,0,96.14,0,0
119386,0,0,102,2017,35,31,2,5,3,0.0,0,0,0,0,0,0,225.43,0,2
119387,0,0,34,2017,35,31,2,5,2,0.0,0,0,0,0,0,0,157.71,0,4
119388,0,0,109,2017,35,31,2,5,2,0.0,0,0,0,0,0,0,104.40,0,0
119389,0,0,205,2017,35,29,2,7,2,0.0,0,0,0,0,0,0,151.20,0,2

In [ ]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler

### Normalization

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
normalizer = MinMaxScaler()

In [ ]:
temp_data.dropna(axis = 1 , inplace = True)

In [ ]:
normalized_data = normalizer.fit_transform(temp_data)

In [ ]:
pd.DataFrame(normalized_data , columns = temp_data.columns)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,1.0,0.0,0.464043,0.0,0.500000,0.000000,0.000000,0.00,0.036364,0.0,0.0,0.0,0.0,0.142857,0.0,0.001180,0.0,0.0
1,1.0,0.0,1.000000,0.0,0.500000,0.000000,0.000000,0.00,0.036364,0.0,0.0,0.0,0.0,0.190476,0.0,0.001180,0.0,0.0
2,1.0,0.0,0.009498,0.0,0.500000,0.000000,0.000000,0.02,0.018182,0.0,0.0,0.0,0.0,0.000000,0.0,0.015053,0.0,0.0
3,1.0,0.0,0.017639,0.0,0.500000,0.000000,0.000000,0.02,0.018182,0.0,0.0,0.0,0.0,0.000000,0.0,0.015053,0.0,0.0
4,1.0,0.0,0.018996,0.0,0.500000,0.000000,0.000000,0.04,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.019307,0.0,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0.0,0.0,0.031208,1.0,0.653846,0.966667,0.105263,0.10,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.018963,0.0,0.0
119386,0.0,0.0,0.138399,1.0,0.653846,1.000000,0.105263,0.10,0.054545,0.0,0.0,0.0,0.0,0.000000,0.0,0.042877,0.0,0.4
119387,0.0,0.0,0.046133,1.0,0.653846,1.000000,0.105263,0.10,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.030351,0.0,0.8
119388,0.0,0.0,0.147897,1.0,0.653846,1.000000,0.105263,0.10,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.020491,0.0,0.0
119389,0.0,0.0,0.278155,1.0,0.653846,0.933333,0.105263,0.14,0.036364,0.0,0.0,0.0,0.0,0.000000,0.0,0.029147,0.0,0.4

### Standardization

In [ ]:
standard_scaler = StandardScaler()

In [ ]:
standardized_data = standard_scaler.fit_transform(temp_data)

In [ ]:
pd.DataFrame(standardized_data , columns = temp_data.columns)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,1.407224,-0.76704,2.227051,-1.634768,-0.012141,-1.685297,-0.928890,-1.310240,0.247897,-0.081579,-0.18156,-0.10318,-0.091555,4.260101,-0.131924,-2.015038,-0.254873,-0.720694
1,1.407224,-0.76704,5.923385,-1.634768,-0.012141,-1.685297,-0.928890,-1.310240,0.247897,-0.081579,-0.18156,-0.10318,-0.091555,5.793131,-0.131924,-2.015038,-0.254873,-0.720694
2,1.407224,-0.76704,-0.907814,-1.634768,-0.012141,-1.685297,-0.928890,-0.786207,-1.478447,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,-0.530935,-0.254873,-0.720694
3,1.407224,-0.76704,-0.851667,-1.634768,-0.012141,-1.685297,-0.928890,-0.786207,-1.478447,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,-0.530935,-0.254873,-0.720694
4,1.407224,-0.76704,-0.842309,-1.634768,-0.012141,-1.685297,-0.928890,-0.262174,0.247897,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,-0.075810,-0.254873,0.540666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,-0.710619,-0.76704,-0.758089,1.192195,0.575875,1.617366,1.073895,1.309924,0.247897,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,-0.112616,-0.254873,-0.720694
119386,-0.710619,-0.76704,-0.018822,1.192195,0.575875,1.731251,1.073895,1.309924,1.974242,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,2.445779,-0.254873,1.802026
119387,-0.710619,-0.76704,-0.655153,1.192195,0.575875,1.731251,1.073895,1.309924,0.247897,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,1.105733,-0.254873,4.324746
119388,-0.710619,-0.76704,0.046682,1.192195,0.575875,1.731251,1.073895,1.309924,0.247897,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,0.050833,-0.254873,-0.720694
119389,-0.710619,-0.76704,0.945032,1.192195,0.575875,1.503481,1.073895,2.357989,0.247897,-0.081579,-0.18156,-0.10318,-0.091555,-0.338990,-0.131924,0.976913,-0.254873,1.802026

### Handling With Missing Values

In [ ]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [ ]:
# here I Will show you imputing values in Null columns only for 'agent' column

In [ ]:
data['agent'].isnull().sum()

16340

### Simple Imputer

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')

In [ ]:
agent_col = imputer.fit_transform(data['agent'].values.reshape(-1,1))

In [ ]:
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [ ]:
data['agent'].isnull().sum()

16340

### Discretization

In [ ]:
from sklearn.preprocessing import KBinsDiscretizer

In [ ]:
temp_data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,1,0,342,2015,27,1,0,0,2,0,0,0,0,3,0,0.0,0,0
1,1,0,737,2015,27,1,0,0,2,0,0,0,0,4,0,0.0,0,0
2,1,0,7,2015,27,1,0,1,1,0,0,0,0,0,0,75.0,0,0
3,1,0,13,2015,27,1,0,1,1,0,0,0,0,0,0,75.0,0,0
4,1,0,14,2015,27,1,0,2,2,0,0,0,0,0,0,98.0,0,1

### Quantile Discretization Transform

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)

In [ ]:
pd.DataFrame(new_data,columns = temp_data.columns )

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,0.0,0.0,9.0,0.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,9.0,0.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
3,0.0,0.0,2.0,0.0,4.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
4,0.0,0.0,2.0,0.0,4.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0.0,0.0,2.0,1.0,6.0,9.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
119386,0.0,0.0,6.0,1.0,6.0,9.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,2.0
119387,0.0,0.0,3.0,1.0,6.0,9.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,2.0
119388,0.0,0.0,6.0,1.0,6.0,9.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
119389,0.0,0.0,8.0,1.0,6.0,9.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,2.0

### Uniform Discretization Transform

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,9.0,0.0,4.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,9.0,0.0,9.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,9.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0.0,0.0,0.0,9.0,6.0,9.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119386,0.0,0.0,1.0,9.0,6.0,9.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
119387,0.0,0.0,0.0,9.0,6.0,9.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0
119388,0.0,0.0,1.0,9.0,6.0,9.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
119389,0.0,0.0,2.0,9.0,6.0,9.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0

### KMeans Discretization Transform

In [ ]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
0,1.0,0.0,6.0,0.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,9.0,0.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,0.0,0.0,0.0,2.0,6.0,9.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
119386,0.0,0.0,2.0,2.0,6.0,9.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,3.0
119387,0.0,0.0,1.0,2.0,6.0,9.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0
119388,0.0,0.0,2.0,2.0,6.0,9.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
119389,0.0,0.0,4.0,2.0,6.0,9.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,3.0